<h1>Sign Up!</h1>

<div class="form">
<form>
<label>Email: </label>
<br>
<input [(ngModel)]="email">
<br>
<label>Password: </label>
<br>
<input type="password"[(ngModel)]="password">
<br>
<label>Re-type Password: </label>
<br>
<input type="password" [(ngModel)]="rtypepassword">
<br>

<!--
<label>Choose Profile Picture</label>
<form id="ques-img">
<input type="file" id="imgInput" (change)="onChange($event)">        
</form>
<div id="show_prof">

</div>
-->

<button id="signup" (click)="emailSignUp(email, password, rtypepassword)">Sign Up</button>
</form>
</div>